*.class
*.xml
*.iml
.idea/.name
/idea/*
/out/*
/src/META-INF/*
/libs/*
/target/*
*.MF
Application.jar
О базе данных.txt
res/db/applicationDB.mv.db
res/db/applicationDB.mv.db
res/db/applicationDB.trace.db
*.db
*.log
BUILD.sh
RUN.sh
TEST.sh
praclab1.Application.jar
!pom.xml
PracLab1-1.0-SNAPSHOT.jar
