*.class
*.xml
*.iml
.idea/.name
/idea/*
/out/*
/h2/*
/src/META-INF/*
*.MF
Application.jar
О базе данных.txt
res/db/applicationDB.mv.db
res/db/applicationDB.mv.db
res/db/applicationDB.trace.db
*.db
*.log
praclab1.Application.jar
!pom.xml
target/original-PracLab1-1.0-SNAPSHOT.jar
target/PracLab1-1.0-SNAPSHOT.jar
